body{
    text-align: center;
    background-size: cover;
    background: url(https://i.redd.it/w3d8hg18r4o41.jpg);
}

#game-grid {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    height: 500px;
    width: 380px;
    margin: 0 auto;
    background-color: whitesmoke;
    border: 6px double ;
}

.card {
     margin: 2.5px;
     height: 128px;
     width: 90px;
}


